#flyoutMenu {
  position: fixed;
  top: 0;
  width: 20vw;
  min-width: 20vw;
  height: 100vh;
  background: #333;
  left: 0;
  transition: transform .7s cubic-bezier(0, .52, 0, 1);
  z-index: 99;
  /*left: -400px;*/
	bottom: 0;
	line-height: 100vh;
  /*-webkit-filter: url("#blur");*/
}
 
#flyoutMenu.hide {
  transform: translate3d(-20vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu h2 a {
  /*color: white;*/
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
  outline: 1px solid white;
}

.menu-items {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	line-height: 1;
}

.menu-item {
	display: block;
	color: #B2B5BD;
	font-size: 20px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 40px;
	text-align: right;
}

@media screen and (max-width: 40em) {
  .menu-item {
    font-size: 12px;
    padding-right: 15px;
    line-height: 0.75;
  }
}